In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = 'https://www.brewersassociation.org/resources/brewers-association-beer-style-guidelines/'

In [5]:
res = requests.get(url)

In [7]:
soup = BeautifulSoup(res.content, 'lxml')

In [25]:
beer_groups = soup.find_all('div',{'class':'group'})
beers = []
for rows in beer_groups:
    details = {}
    details['group'] = rows.find('h1').text
    beers.append(details)

In [26]:
beers

[{'group': 'Ale Style'},
 {'group': 'Lager Style'},
 {'group': 'Hybrid/Mixed Lagers or Ale'}]

In [27]:
test_beers = pd.DataFrame(beers, )

In [28]:
test_beers

                        group
0                   Ale Style
1                 Lager Style
2  Hybrid/Mixed Lagers or Ale